@mixin pull-up($value) {
    top: -$value;
    margin-bottom: -$value;
}

@mixin pull-down($value) {
    top: $value;
    margin-bottom: -$value;
}

// Media Query Manager
/*
0 - 600:  Phone
600 - 900:  Tablet portrait
900 - 1200:  Tablet landscape
[1200 - 1800] is where our normal styles apply
1800 +:    Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: Base -> Typography -> General Layout -> Grid -> Page Layout -> Components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 575.98px) { @content; } // 600px
    }
    
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 991.98px) { @content; } // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1199.98px) { @content; } // 1200px
    }

}
