// Text colors
$heading-color-default: #43414e;
$paragraph-color-default: #6E7076;

// Colors
$color-light: #fff;
$color-dark: #000;
$color-primary: #150773;
$color-primary-dark: #00004d;
$color-secondary: #2cd4d9;
$color-tertiary: rgb(250, 250, 250);
$color-quaternary: #5333ed;

// Section Padding
$section-padding-default: 10rem 0;

// Box Shadows
$box-shadow-large: 0 1rem 4rem rgba($color-dark, .1);
$box-shadow-small: 0 .5rem 1rem rgba($color-dark, .1);

