.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10rem 0 15rem 0;
    background-color: $color-primary;
    background-image: linear-gradient(to top, darken($color-primary, 10%), lighten($color-primary, 10% ));

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    @include respond(phone) {
        position: static;
    }

    &__logo {
        height: 4rem;
        margin-bottom: .8rem;
    }

    // Navbar Headings
    &__heading {
        color: $color-light;
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    // Social Icons
    &__social {
        i {
            font-size: 2rem;
            display: inline-block;
            margin-right: 1.5rem;
            color: $color-primary;
            position: relative;
            transition: all .3s;
            backface-visibility: hidden;

            // Shift the icons to the right
            &:first-child {
                margin-left: 1rem;
            }

            // Font Awesome override
            &::before {
                z-index: 2;
                position: relative;
            }

            // Circle behind the icon
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 3.5rem;
                height: 3.5rem;
                background-color: $color-light;
                border-radius: 50%;
                z-index: 1;
                transition: all .3s;
            }

            &:hover {
                &::after {
                    background-color: $color-secondary;
                }

                transform: translateY(-1px);
            }
        }
    }

    // Navbar
    &__navbar {
        &-list {
            list-style: none;
        }

        &-item {
            margin-bottom: 1rem;
        }

        &-link {
            display: block;

            &:link,
            &:visited {
                color: $color-light;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 400;
                transition: all .3s;
                transform-origin: 50% 50%;
                backface-visibility: hidden;
            }

            &:hover {
                transform: rotate(-3deg) scale(1.05)!important;
                color: $color-secondary;
            }
        }
    }
}
