.btn {
    &:link,
    &:visited {
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-flex;
        padding: 1.2rem 3.3rem;
        line-height: 2.2rem;
        border-radius: 10rem;
        box-shadow: $box-shadow-small;
        border: 2px solid transparent;
        transition: all .3s;
    }

    &--primary {
        color: $color-primary;
        background-color: $color-secondary;

        &:hover {
            color: $color-light;
            background-color: transparentize($color-secondary, 1);
            border: 2px solid $color-secondary;
        }
    }

    &--secondary {
        color: $color-light;
        background-color: $color-primary;

        &:hover {
            color: $color-primary;
            background-color: transparentize($color-light, .85);
            border: 2px solid $color-primary;
        }
    }
}

.btn-link {
    &:link,
    &:visited {
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        vertical-align: middle;
        line-height: 1;
        text-decoration: none;
        color: $color-secondary;
        transition: all .15s;
    }

    &:hover,
    &:active {
        color: $heading-color-default;
    }

    &--inverse {
        &:link,
        &:visited {
            color: $color-secondary;
        }

        &:hover,
        &:active {
            color: $color-light;
        }
    }
}
