.btn {
    &:link,
    &:visited {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 3rem;
        line-height: 2.2rem;
        border-radius: 100px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
        border: 2px solid transparent;
        transition: all .3s ease-in-out;
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;
    }

    &--primary:link,
    &--primary:visited {
        color: $color-secondary;
        background-image: linear-gradient($color-secondary, $color-secondary);
        background-size: 100% 0;
        background-repeat: no-repeat;
        background-position: bottom -1px left 0;
        border: 2px solid $color-secondary;
        transition: all .5s ease-in-out;
        
        &:hover {
            color: $color-primary;
            background-size: 100% 110%;
        }
    }

    &--secondary {
        color: $color-light;
        background-color: $color-primary;

        &:hover {
            color: $color-primary;
            background-color: transparentize($color-light, .85);
            border: 2px solid $color-primary;
        }
    }
}

.btn-link {
    &:link,
    &:visited {
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        vertical-align: middle;
        line-height: 1;
        text-decoration: none;
        color: #1a237e;
        transition: all .15s;
    }

    &:hover,
    &:active {
        color: $heading-color-default;
    }

    &--inverse {
        &:link,
        &:visited {
            color: $color-secondary;
        }

        &:hover,
        &:active {
            color: $color-light;
        }
    }
}
