.featured-box {
    background-color: $color-light;
    padding: 4rem; 
    box-shadow: $box-shadow-large;
    border-radius: 4px;
    position: relative;
    z-index: 1;

    @include respond(tab-port) {
        border-radius: 0;
    }
    
    &__col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item {
        margin-bottom: .5rem;
        display: flex;
        align-items: center;

        @include respond(tab-port) {
            margin-top: 1rem;
        }
    
        i:before {
            margin-left: 0;
            margin-right: 2rem;
            font-size: 3rem;
        }
    }
}
