.navigation-mobile {
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-light;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 10;
        box-shadow: $box-shadow-large;
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(tab-port) {
            top: 2rem;
            right: 2rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(#5237EB, #2CD4D9);
        z-index: 5;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); 

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(tab-port) {
            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 700;
            color: $color-light;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 2rem;
            transition: all .3s;
        }

        &:hover,
        &:active {
            color: $color-secondary;
        }

    }

    // Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(50);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100vw;
    }

    // Icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary;
            display: inline-block;
            
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon:before {
        top: -1rem;
    }

    &__button:hover &__icon:after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }

}