// Features Section
.features-1 {
    padding: $section-padding-default;
}

// Features 2 Section
.features-2 {
    padding: $section-padding-default;
    background-color: $color-tertiary;

    &__row {
        margin-bottom: 2rem;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }
}

// Plans Section
.plans {
    background-image: linear-gradient(-30deg, $color-primary-dark 0%, $color-quaternary 49%, $color-secondary 100%);
    padding: 10rem 0 20rem 0;

    &__text-box {
        width: 100%;
        text-align: center;

        // Center text and icon vertically
        i, p {
            line-height: 1;
            vertical-align: middle;
        }

        i {
            margin: 0 1rem;
            color: $color-secondary;
        }
    }
}

// Special Needs
.special-needs {
    padding: $section-padding-default;
    
    &__box-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__box {
        width: 55%;
        background: $color-light;
        box-shadow: $box-shadow-large;
        border-radius: 4px;
        padding: 4rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__box-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box--1 {
        align-self: flex-start;
        position: relative;
        z-index: 1;
    }

    &__box--2 {
        align-self: flex-end;
        margin-top: -5rem;

        @include respond(tab-port) {
            margin-top: 2rem;
        }
    }
}

// Data Centers
.data-centers {
    padding: $section-padding-default;
    color: $color-light;
    background-image: 
        linear-gradient(-30deg, transparentize($color-primary-dark, .025) 0%, transparentize($color-quaternary, .025) 49%,transparentize($color-secondary, .025) 100%), 
        url('../img/world-map.svg'),
        linear-gradient( $color-dark, $color-dark);
    background-size: auto 120%;
    background-position: center center;
    background-repeat: no-repeat;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 0;
        font-size: 1.6rem;
        line-height: 1;

        @include respond(tab-port) {
            &:last-child {
                border-bottom: 1px solid transparentize($color-light, .7);
            }
        }

        // Every item except the last one
        &:not(:last-child) {
            border-bottom: 1px solid transparentize($color-light, .7);
            margin-bottom: .8rem;
        }

        span {
            font-weight: 900;
            margin-right: 6rem;
        }
    }
}

// Questions
.questions {
    padding: 15rem 0;
    background-color: $color-tertiary;
}
